<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <!-- for font   -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Blog</title>
  </head>
  <body>
    <div class="main">
      <div class="info">
        <div class="linkedin">
          <a href="https://www.linkedin.com/in/tejas-tank-122648204/">
            <button>
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
              LinkedIn
            </button>
          </a>
        </div>
        <div class="github">
          <a href="https://github.com/tanktejas">
            <button>
              <span class="icon git">
                <i class="fab fa-github"></i>
              </span>
              GitHub
            </button>
          </a>
        </div>
        <div class="codechef">
          <a href="https://www.codechef.com/users/tejastank">
            <button>
              <span class="icon code">
                <span class="iconify" data-icon="simple-icons:codechef"></span>
              </span>
              CodeChef
            </button>
          </a>
        </div>
        <div class="leetcode">
          <a href="https://leetcode.com/tejastank20001/">
            <button>
              <span class="icon leet">
                <span class="iconify" data-icon="simple-icons:leetcode"></span>
              </span>
              LeetCode
            </button>
          </a>
        </div>
        <div class="geeksforgeeks">
          <a href="https://auth.geeksforgeeks.org/user/tejastank2001/profile">
            <button>
              <span class="icon geeks">
                <span
                  class="iconify geek"
                  data-icon="simple-icons:geeksforgeeks"
                  data-width="45"
                  data-height="34"
                ></span>
              </span>
              GeeksforGeeks
            </button>
          </a>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </body>
</html>
