body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("./image.jpg");
  background-size: 100%;
  background-repeat: repeat;
}
.main {
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info div,
button {
  background: none;
}
.info {
  margin-top: 28px;
  background: none;
}
.info button {
  width: 409px;
  height: 53px;
  border: 1px solid #32a7f0ef;
  box-shadow: 11px 17px 12px 2px black;
  background: #32a7f0ef;
  border-radius: 14px;
  font-size: 23px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.info div {
  margin-top: 70px;
}
button .icon {
  background: none;
  margin-right: 57px;
  margin-left: -33px;
}
button .icon i {
  font-size: 27px;
  background: none;
}
.geek {
  margin-bottom: -8px !important;
}
.iconify {
  background: none;
  font-size: 30px;
  margin-bottom: -8px;
}
.fa-linkedin {
  color: #0e76a8;
}
.git {
  margin-left: -46px !important ;
}
.leet {
  color: rgb(231, 123, 60);
}
.code {
  color: rgb(114, 69, 43);
  margin-left: -22px !important ;
}
.geeks {
  color: green;
  margin-left: 25px !important ;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 528px) {
  button {
    width: 366px !important;
    border-radius: 14px !important;
  }
}

@media (max-width: 440px) {
  button {
    width: 337px !important;
    border-radius: 11px !important;
  }
  .geeks {
    margin-left: -1px !important;
  }
}

@media (max-width: 408px) {
  button {
    width: 317px !important;
    border-radius: 8px !important;
  }
  .geeks {
    margin-left: 3px !important;
    margin-right: 24px !important;
  }
}
@media (max-width: 372px) {
  button {
    width: 283px !important;
    border-radius: 7px !important;
  }
  .geeks {
    margin-left: 14px !important;
    margin-right: 24px !important;
  }
}
