* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.blognavbar {
  margin-top: 9px;
  height: 74px;
  width: 100%;
  background-color: rgb(168, 154, 154);
  border-radius: 18px;
}
.logo {
  border-radius: 50%;
  padding: 6px 24px;
  height: 60px;
  width: 100px;
}
ul {
  float: right;
  display: flex;
  margin-top: 14px;
  padding: 0px 23px;
}
ul li {
  padding: 0px 91px;
}
ul li button {
  height: 44px;
  width: 85px;
}

@media (max-width: 1012px) {
  ul li {
    padding: 0px 71px;
  }
}
@media (max-width: 831px) {
   
  }
/* @media (max-width: 834px) {
  ul li {
    padding: 0px 61px;
  }
}
@media (max-width: 775px) {
  ul li {
    padding: 0px 51px;
  }
}
@media (max-width: 709px) {
  ul li {
    padding: 0px 31px;
  }
}
@media (max-width: 604px) {
  ul li {
    padding: 0px 24px;
  }
} */
